/build*
/.vscode
.DS_Store
.idea
cmake-build-debug/*
cmake-build-release/*
app/cmake-build-debug/*
app/cmake-build-release/*
test/cmake-build-debug/*
test/cmake-build-release/*
app/src/settings.h
benchmark/.idea